# WEB SCRAPING – ASSIGNMENT 4

1.Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings("ignore")

In [31]:
#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\91845\chromedriver.exe') 
time.sleep(2)

# Opening the wikipedia.com
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(2)

# Make empty lists
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

 #scraping rank of most-viewed YouTube videos
try:
    Rank= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
    for i in Rank[:30]:
        rank.append(i.text)
        time.sleep(1)
except NoSuchElementException:
    print("Exception Occured.No such element")
    
#scraping name
try:
    Name= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
    for i in Name[:30]:
        name.append(i.text)
        time.sleep(1)
except NoSuchElementException:
    print("Exception Occured. No such element")
        
#scraping artist 
try:
    Artist= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
    for i in Artist[:30]:
        artist.append(i.text)   
        time.sleep(1) 
except NoSuchElementException:
    print("Exception Occured. No such element")        
    
#scraping upload_date    
try:
    Date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
    for i in Date[:30]:
        upload_date.append(i.text)
        time.sleep(1)  
except NoSuchElementException:
    print("Exception Occured. No such element")   
    
#scraping views
try:
    Views= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
    for i in Views[:30]:
        views.append(i.text)    
        time.sleep(1) 
except NoSuchElementException:
    print("Exception Occured. No such element")
    
#creating dataframe
df=pd.DataFrame({'Rank':rank,
                'Name':name,
                'Artist':artist,
                'Upload_date':upload_date,
                'Views':views})
df

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.48,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.81,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.28,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.68,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.47,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.23,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.56,"March 6, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,4.56,"February 27, 2018"
8,9.,"""Uptown Funk""[23]",Mark Ronson,4.53,"November 19, 2014"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.49,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.39,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,3.92,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,3.92,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.68,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.56,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.55,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.53,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.43,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.31,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.27,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.26,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.25,"February 20, 2014"
22,23.,"""Let Her Go""[41]",Passenger,3.21,"July 25, 2012"
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,3.21,"June 25, 2018"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.19,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.19,"March 22, 2015"
26,27.,"""Shake It Off""[45]",Taylor Swift,3.16,"August 18, 2014"
27,28.,"""Perfect""[46]",Ed Sheeran,3.14,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.11,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.06,"June 29, 2017"

2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [4]:
#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\91845\chromedriver.exe') 

# Opening the wikipedia.com
url = "https://www.bcci.tv/"
driver.get(url)

In [5]:
# clicking the search button for accepting cokies
search_button=driver.find_element_by_xpath('/html/body/div[15]/button')
search_button.click()

In [6]:
# clicking the search button for going to international
search_button=driver.find_element_by_xpath("//nav[@class='navbar navbar-expand-lg navbar-light  sticky-top nav-desktop']")

In [7]:
#clicking the international fixtures
search_button=driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]/a')
search_button.click()

In [28]:
match=[]
#Scrapping the data having the match name
try:
    name=driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
    for i in name:
        match.append(i.text.split('-')[0])
except NoSuchElementException:
    print("Exception Occured. No such element")
    
match

['1st T20I ', '2nd T20I ', '3rd T20I ', '4th T20I ', '5th T20I ']

In [29]:
series=[]
#Scrapping the data having the series name
try:
    Series=driver.find_elements_by_xpath("//span[@class='ng-binding']")
    for i in Series:
        series.append(i.text)
except NoSuchElementException:
    print("Exception Occured. No such element")        
series

['SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022']

In [30]:
place=[]
#Scrapping the data having the place of match
try:
    Place=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
    for i in Place:
        place.append(i.text.split('-')[1])
except NoSuchElementException:
    print("Exception Occured. No such element")      
place

[' Arun Jaitley Stadium, Delhi',
 ' Barabati Stadium, Cuttack',
 ' Dr YS Rajasekhara Reddy ACA',
 ' Saurashtra Cricket Association Stadium, Rajkot',
 ' M Chinnaswamy Stadium, Bengaluru']

In [31]:
date=[]
#Scrapping the data having the match date
try:
    Date=driver.find_elements_by_xpath("//h5[@class='ng-binding']")  #Only date
    for i in Date:
        date.append(i.text)
except NoSuchElementException:
    print("Exception Occured. No such element")  
    
date

['9 JUN 2022', '12 JUN 2022', '14 JUN 2022', '17 JUN 2022', '19 JUN 2022']

In [32]:
time=[]
#Scrapping the data having match time
try:
    Time=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
    for i in Time:
        time.append(i.text)
except NoSuchElementException:
    print("Exception Occured. No such element")      
    
time

['7:30 PM IST', '7:30 PM IST', '7:30 PM IST', '7:30 PM IST', '7:30 PM IST']

In [33]:
#Creating a Dataframe for the scrapped data
int_fixtures=pd.DataFrame()
int_fixtures['Match name']=match
int_fixtures['Series']=series
int_fixtures['Place']=place
int_fixtures['Date']=date
int_fixtures['Time']=time
int_fixtures

,Match name,Series,Place,Date,Time
0,1st T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium, Delhi",9 JUN 2022,7:30 PM IST
1,2nd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium, Cuttack",12 JUN 2022,7:30 PM IST
2,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,Dr YS Rajasekhara Reddy ACA,14 JUN 2022,7:30 PM IST
3,4th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,7:30 PM IST
4,5th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",19 JUN 2022,7:30 PM IST

 3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [60]:
#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\91845\chromedriver.exe') 

# Opening the wikipedia.com
url = " https://www.guru99.com/"
driver.get(url)

In [61]:
#Clicking on the selenium tutorial page 
driver.find_element_by_xpath("//div[@class='srch']/span[8]/a").click()

#Clicking on the selenium exception tutorial page
driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()

In [62]:
#Creating the empty lists to store the scraped data
name=[]
description=[]

#Scrapping the data having exception names
Name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in Name:
    name.append(i.text)
    
#Scrapping the data having the description details  
desc=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in desc:
    description.append(i.text)
    
#Checking the length of the data scrapped
print(len(name),len(description))

41 41

In [63]:
#Creating a dataframe for the scrapped data
guru99=pd.DataFrame()
guru99['Exception Name']=name[1:]
guru99['Description']=description[1:]
guru99

,Exception Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [103]:
#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\91845\chromedriver.exe') 

# Opening the wikipedia.com
url = " http://statisticstimes.com/"
driver.get(url)

In [104]:
#Clicking the economy tab and then India option
economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button").click()

In [105]:
india_button=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]").click()

In [107]:
gdp_states=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [121]:
#Creating empty lists for storing the scrapped data
Rank=[]
#Scrapping the data having rank of the states
rank=driver.find_elements_by_xpath("//td[@class='data1']")
for i in rank:
    Rank.append(i.text)
len(Rank)

68

In [122]:
#Scrapping the data having State name
State = []
state_gdps=driver.find_elements_by_xpath("//td[@class='name']")
for i in state_gdps:
    State.append(i.text)
len(State)

68

In [123]:
#Scrapping the data having GSDP 19-20 data
GSDP19_20 = []
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
    GSDP19_20.append(i.text)
len(GSDP19_20)

66

In [124]:
#Scrapping the data having GSDP 18-19 data
GSDP18_19 = []
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
    GSDP18_19.append(i.text)
len(GSDP18_19)

66

In [125]:
#Scrapping the data having Share 18-19 data
Share18_19 = []
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
    Share18_19.append(i.text)
len(Share18_19)

66

In [126]:
#Scrapping the data having GDP billions data
GDP = []
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
    GDP.append(i.text)
len(GDP)

66

In [129]:
#Creating a dataframe for the scrapped data

#Creating a dataframe for the scrapped data
GDP_detail=pd.DataFrame()
GDP_detail['Rank']=Rank[:66]
GDP_detail['State']=State[:66]
GDP_detail['GSDP(19-20)']=GSDP19_20[:66]
GDP_detail['GSDP(18-19)']=GSDP18_19[:66]
GDP_detail['Share(18-19)']=Share18_19[:66]
GDP_detail['GDP($ billion']=GDP[:66]
GDP_detail

   Rank              State GSDP(19-20) GSDP(18-19) Share(18-19) GDP($ billion
0     1        Maharashtra           -   2,632,792       13.94%       399.921
1     2         Tamil Nadu   1,845,853   1,630,208        8.63%       247.629
2     3      Uttar Pradesh   1,687,818   1,584,764        8.39%       240.726
3     4            Gujarat           -   1,502,899        7.96%       228.290
4     5          Karnataka   1,631,977   1,493,127        7.91%       226.806
..  ...                ...         ...         ...          ...           ...
61   28            Manipur      28,391      25,141        0.15%        17,060
62   29             Sikkim           -      24,534        0.15%             -
63   30           Nagaland           -      22,488        0.13%             -
64   31  Arunachal Pradesh      24,424      20,947        0.13%        17,797
65   32            Mizoram           -           -            -             -

[66 rows x 6 columns]

5.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [76]:
#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\91845\chromedriver.exe') 

# Opening the github.com
url = "https://github.com/"
driver.get(url)

In [82]:
#Clicking explore tab and trending option using exception
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
try:
    trending.click()
except ElementNotInteractableException as e:
    driver.get(trending.get_attribute('href'))

In [99]:
#Creating empty lists for storing the scrapped data
rep_title=[]
rep_desc=[]
Count=[]
Lang=[]

#Scrapping the data having the repository title
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in title:
    rep_title.append(i.text)
    
#Scrapping the data having the repository description
desc=driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in desc:
    rep_desc.append(i.text)
    
#Scrapping the data having the contributors count
count=driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")
for i in count:
    Count.append(i.text)
    
#Scrapping the data having the language used 
lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    if i.text is None:
        Lang.append('Not Available')
    else:
        Lang.append(i.text)

In [100]:
#Checking out the length of scrapped data
print(len(rep_title),len(rep_desc),len(Count),len(Lang))

25 24 50 24

In [101]:
#Creating a dataframe for the scrapped data
github=pd.DataFrame({})
github['Repository title']=rep_title[:24]
github['Description']=rep_desc[:24]
github['Contributors count']=Count[:24]
github['Language used']=Lang[:24]
github

,Repository title,Description,Contributors count,Language used
0,spacedriveapp / spacedrive,Spacedrive is an open source cross-platform fi...,"3,824",TypeScript
1,ellie / atuin,🐢 Magical shell history,88,Rust
2,nuxt / nuxt.js,The Intuitive Vue(2) Framework,"2,433",JavaScript
3,mastodon / mastodon,"Your self-hosted, globally interconnected micr...",80,Ruby
4,PowerShell / PowerShell,PowerShell for every system!,"40,234",C#
5,521xueweihan / HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...","3,235",Python
6,Z4nzu / hackingtool,ALL IN ONE Hacking Tool For Hackers,"28,343",Python
7,rochacbruno / python-week-2022,Template Para a Python Week 2002 - 25 a 29 de ...,"4,476",Python
8,klauspost / compress,Optimized Go Compression Packages,"33,070",Go
9,labmlai / annotated_deep_learning_paper_implem...,🧑‍🏫 50! Implementations/tutorials of deep lear...,"5,480",Jupyter Notebook
10,Dec0ne / KrbRelayUp,KrbRelayUp - a universal no-fix local privileg...,"54,866",C#
11,why20021008 / hand-write,模拟手写效果，节约时间。,"7,816",Python
12,trustedsec / CS-Remote-OPs-BOF,30 Days of React challenge is a step by step g...,"16,731",C
13,Asabeneh / 30-Days-Of-React,🎨 Diagram as Code for prototyping cloud system...,"2,079",JavaScript
14,mingrammer / diagrams,"Linux, Jenkins, AWS, SRE, Prometheus, Docker, ...","1,636",Python
15,bregman-arie / devops-exercises,World's fastest and most advanced password rec...,"1,123",Python
16,hashcat / hashcat,KEDA is a Kubernetes-based Event Driven Autosc...,"2,778",C
17,kedacore / keda,Statistical Rethinking course winter 2022,206,Go
18,rmcelreath / stat_rethinking_2022,红队笔记,"7,628",R
19,biggerduck / RedTeamNotes,Moby Project - a collaborative project for the...,682,Go
20,moby / moby,JavaScript Style Guide,619,JavaScript
21,airbnb / javascript,《Designing Data-Intensive Application》DDIA中文翻译,92,Python
22,Vonng / ddia,Apache Flink,238,Java
23,apache / flink,A library that allows you to easily mock out t...,29,Python

6.Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [95]:
#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\91845\chromedriver.exe') 

# Opening the billboard.com
url = "https:/www.billboard.com/"
driver.get(url)

In [96]:
#Clicking charts and then hot100 option
hot_100=driver.find_element_by_xpath("//a[@class='c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark']")
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))

In [100]:
# Capturing entire table
top_100 = []
top_100 = driver.find_elements_by_xpath("/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]")

items = []
for i in top_100:
    i.find_elements_by_id("title-of-a-story")
    items.append(i.text.split('\n')[6:])
items = items[0]
items

['1',
 'As It Was',
 'Harry Styles',
 '1',
 '1',
 '4',
 '2',
 'First Class',
 'Jack Harlow',
 '2',
 '1',
 '3',
 '3',
 'Heat Waves',
 'Glass Animals',
 '3',
 '1',
 '67',
 '4',
 'Big Energy',
 'Latto',
 '4',
 '3',
 '27',
 '5',
 'Enemy',
 'Imagine Dragons X JID',
 '5',
 '5',
 '23',
 '6',
 'Stay',
 'The Kid LAROI & Justin Bieber',
 '6',
 '1',
 '42',
 '7',
 'Woman',
 'Doja Cat',
 '8',
 '7',
 '39',
 '8',
 'Ghost',
 'Justin Bieber',
 '10',
 '5',
 '31',
 '9',
 'Super Gremlin',
 'Kodak Black',
 '9',
 '3',
 '25',
 '10',
 'Thats What I Want',
 'Lil Nas X',
 '11',
 '8',
 '32',
 '11',
 'Bad Habits',
 'Ed Sheeran',
 '12',
 '2',
 '44',
 '12',
 'Shivers',
 'Ed Sheeran',
 '14',
 '4',
 '33',
 '13',
 'abcdefu',
 'GAYLE',
 '13',
 '3',
 '23',
 '14',
 'Cold Heart (PNAU Remix)',
 'Elton John & Dua Lipa',
 '15',
 '7',
 '34',
 '15',
 'NEW',
 'Thousand Miles',
 'The Kid LAROI',
 '-',
 '15',
 '1',
 '16',
 'Save Your Tears',
 'The Weeknd & Ariana Grande',
 '18',
 '1',
 '69',
 '17',
 'One Right Now',
 'Post Malone & The Weeknd',
 '19',
 '6',
 '25',
 '18',
 'Levitating',
 'Dua Lipa',
 '21',
 '2',
 '77',
 '19',
 'Need To Know',
 'Doja Cat',
 '17',
 '8',
 '46',
 '20',
 'MAMIII',
 'Becky G X Karol G',
 '24',
 '15',
 '11',
 '21',
 'Bam Bam',
 'Camila Cabello Featuring Ed Sheeran',
 '25',
 '21',
 '8',
 '22',
 'Industry Baby',
 'Lil Nas X & Jack Harlow',
 '23',
 '1',
 '40',
 '23',
 "'Til You Can't",
 'Cody Johnson',
 '22',
 '18',
 '29',
 '24',
 'Easy On Me',
 'Adele',
 '16',
 '1',
 '29',
 '25',
 'In A Minute',
 'Lil Baby',
 '20',
 '14',
 '3',
 '26',
 "Doin' This",
 'Luke Combs',
 '30',
 '26',
 '20',
 '27',
 'Wasted On You',
 'Morgan Wallen',
 '31',
 '9',
 '24',
 '28',
 'AA',
 'Walker Hayes',
 '32',
 '28',
 '16',
 '29',
 'NEW',
 'Plan B',
 'Megan Thee Stallion',
 '-',
 '29',
 '1',
 '30',
 'Hrs And Hrs',
 'Muni Long',
 '26',
 '16',
 '18',
 '31',
 'Boyfriend',
 'Dove Cameron',
 '37',
 '31',
 '11',
 '32',
 'Sweetest Pie',
 'Megan Thee Stallion & Dua Lipa',
 '34',
 '15',
 '7',
 '33',
 'Trouble With A Heartbreak',
 'Jason Aldean',
 '59',
 '33',
 '6',
 '34',
 'Right On',
 'Lil Baby',
 '28',
 '13',
 '3',
 '35',
 'Good 4 U',
 'Olivia Rodrigo',
 '33',
 '1',
 '50',
 '36',
 'NEW',
 'Provenza',
 'Karol G',
 '-',
 '36',
 '1',
 '37',
 'Numb Little Bug',
 'Em Beihold',
 '40',
 '37',
 '13',
 '38',
 'To The Moon!',
 'JNR CHOI & Sam Tompkins',
 '38',
 '38',
 '9',
 '39',
 'I Hate U',
 'SZA',
 '36',
 '7',
 '21',
 '40',
 "We Don't Talk About Bruno",
 'Carolina Gaitan, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz & Encanto Cast',
 '27',
 '1',
 '18',
 '41',
 'Never Say Never',
 'Cole Swindell / Lainey Wilson',
 '29',
 '27',
 '15',
 '42',
 "Don't Think Jesus",
 'Morgan Wallen',
 '7',
 '7',
 '2',
 '43',
 'You Right',
 'Doja Cat & The Weeknd',
 '39',
 '11',
 '43',
 '44',
 'Fingers Crossed',
 'Lauren Spencer-Smith',
 '35',
 '19',
 '17',
 '45',
 'Fancy Like',
 'Walker Hayes',
 '41',
 '3',
 '45',
 '46',
 'Sand In My Boots',
 'Morgan Wallen',
 '42',
 '30',
 '41',
 '47',
 "She's All I Wanna Be",
 'Tate McRae',
 '47',
 '44',
 '12',
 '48',
 'The Motto',
 'Tiesto & Ava Max',
 '46',
 '42',
 '13',
 '49',
 'What Happened To Virgil',
 'Lil Durk Featuring Gunna',
 '43',
 '22',
 '7',
 '50',
 "When You're Gone",
 'Shawn Mendes',
 '48',
 '38',
 '4',
 '51',
 'NEW',
 '2step',
 'Ed Sheeran Featuring Lil Baby',
 '-',
 '51',
 '1',
 '52',
 'Beers On Me',
 'Dierks Bentley, BRELAND & HARDY',
 '45',
 '40',
 '18',
 '53',
 'Pushin P',
 'Gunna & Future Featuring Young Thug',
 '44',
 '7',
 '16',
 '54',
 'Freaky Deaky',
 'Tyga X Doja Cat',
 '57',
 '43',
 '9',
 '55',
 'NEW',
 'Something In The Orange',
 'Zach Bryan',
 '-',
 '55',
 '1',
 '56',
 'Peru',
 'Fireboy DML & Ed Sheeran',
 '54',
 '53',
 '13',
 '57',
 'NEW',
 'Hold That Heat',
 'Southside, Travis Scott & Future',
 '-',
 '57',
 '1',
 '58',
 'If I Was A Cowboy',
 'Miranda Lambert',
 '53',
 '53',
 '13',
 '59',
 'NEW',
 'Scrape It Off',
 'Pusha T Featuring Lil Uzi Vert & Don Toliver',
 '-',
 '59',
 '1',
 '60',
 'About Damn Time',
 'Lizzo',
 '50',
 '50',
 '2',
 '61',
 'NEW',
 'Tomorrow Me',
 'Luke Combs',
 '-',
 '61',
 '1',
 '62',
 'Slow Down Summer',
 'Thomas Rhett',
 '64',
 '43',
 '10',
 '63',
 'Never Wanted To Be That Girl',
 'Carly Pearce & Ashley McBryde',
 '66',
 '63',
 '16',
 '64',
 'Light Switch',
 'Charlie Puth',
 '52',
 '27',
 '14',
 '65',
 '23',
 'Sam Hunt',
 '58',
 '50',
 '18',
 '66',
 'Me Or Sum',
 'Nardo Wick, Lil Baby & Future',
 '67',
 '58',
 '16',
 '67',
 'Broadway Girls',
 'Lil Durk Featuring Morgan Wallen',
 '60',
 '14',
 '19',
 '68',
 'Flowers',
 'Lauren Spencer-Smith',
 '55',
 '55',
 '2',
 '69',
 'No Love',
 'Summer Walker & SZA',
 '62',
 '13',
 '17',
 '70',
 'Flower Shops',
 'ERNEST Featuring Morgan Wallen',
 '65',
 '64',
 '14',
 '71',
 'Nail Tech',
 'Jack Harlow',
 '56',
 '18',
 '10',
 '72',
 'Give Heaven Some Hell',
 'HARDY',
 '69',
 '69',
 '9',
 '73',
 'Get Into It (Yuh)',
 'Doja Cat',
 '73',
 '68',
 '21',
 '74',
 'Take My Name',
 'Parmalee',
 '75',
 '74',
 '4',
 '75',
 'Surface Pressure',
 'Jessica Darrow',
 '63',
 '8',
 '18',
 '76',
 'RE- ENTRY',
 'Neck & Wrist',
 'Pusha T Featuring JAY-Z & Pharrell Williams',
 '-',
 '76',
 '2',
 '77',
 'Handsomer',
 'Russ Featuring Ktlyn',
 '70',
 '40',
 '8',
 '78',
 'NEW',
 'Rock N Roll',
 'Pusha T Featuring Kanye West & Kid Cudi',
 '-',
 '78',
 '1',
 '79',
 'Ahhh Ha',
 'Lil Durk',
 '68',
 '18',
 '10',
 '80',
 'Do We Have A Problem?',
 'Nicki Minaj X Lil Baby',
 '72',
 '2',
 '12',
 '81',
 'NEW',
 'Dreamin Of The Past',
 'Pusha T Featuring Kanye West',
 '-',
 '81',
 '1',
 '82',
 'Circles Around This Town',
 'Maren Morris',
 '77',
 '52',
 '16',
 '83',
 'Damn Strait',
 'Scotty McCreery',
 '76',
 '76',
 '4',
 '84',
 'Envolver',
 'Anitta',
 '71',
 '70',
 '5',
 '85',
 'Shake It',
 'Kay Flock, Cardi B, Dougie B & Bory300',
 '51',
 '51',
 '2',
 '86',
 'I Love You So',
 'The Walters',
 '81',
 '71',
 '15',
 '87',
 'Rumors',
 'Gucci Mane Featuring Lil Durk',
 '74',
 '51',
 '13',
 '88',
 'She Likes It',
 'Russell Dickerson & Jake Scott',
 '89',
 '86',
 '6',
 '89',
 'In My Head',
 'Lil Tjay',
 '78',
 '33',
 '4',
 '90',
 'Soy El Unico',
 'Yahritza y Su Esencia',
 '80',
 '20',
 '5',
 '91',
 'Leave You Alone',
 'Kane Brown',
 '86',
 '86',
 '2',
 '92',
 'RE- ENTRY',
 'Out Of Time',
 'The Weeknd',
 '-',
 '32',
 '3',
 '93',
 'Banking On Me',
 'Gunna',
 '88',
 '61',
 '10',
 '94',
 'Come Back As A Country Boy',
 'Blake Shelton',
 '82',
 '81',
 '13',
 '95',
 'Desesperados',
 'Rauw Alejandro & Chencho Corleone',
 '91',
 '91',
 '4',
 '96',
 'Bones',
 'Imagine Dragons',
 '87',
 '87',
 '7',
 '97',
 'Hate Our Love',
 'Queen Naija & Big Sean',
 '94',
 '88',
 '3',
 '98',
 'Over',
 'Lucky Daye',
 '92',
 '77',
 '6',
 '99',
 'City Of Gods',
 'Fivio Foreign, Kanye West & Alicia Keys',
 '84',
 '46',
 '10',
 '100',
 'NEW',
 'Brambleton',
 'Pusha T',
 '-',
 '100',
 '1']

In [101]:
c = items.count('NEW')
for i in range(c):
            items.remove('NEW')
c = items.count('RE- ENTRY')
for i in range(c):
            items.remove('RE- ENTRY')
        
lol = [items[i:i+6] for i in range(0, len(items), 6)]
lol

[['1', 'As It Was', 'Harry Styles', '1', '1', '4'],
 ['2', 'First Class', 'Jack Harlow', '2', '1', '3'],
 ['3', 'Heat Waves', 'Glass Animals', '3', '1', '67'],
 ['4', 'Big Energy', 'Latto', '4', '3', '27'],
 ['5', 'Enemy', 'Imagine Dragons X JID', '5', '5', '23'],
 ['6', 'Stay', 'The Kid LAROI & Justin Bieber', '6', '1', '42'],
 ['7', 'Woman', 'Doja Cat', '8', '7', '39'],
 ['8', 'Ghost', 'Justin Bieber', '10', '5', '31'],
 ['9', 'Super Gremlin', 'Kodak Black', '9', '3', '25'],
 ['10', 'Thats What I Want', 'Lil Nas X', '11', '8', '32'],
 ['11', 'Bad Habits', 'Ed Sheeran', '12', '2', '44'],
 ['12', 'Shivers', 'Ed Sheeran', '14', '4', '33'],
 ['13', 'abcdefu', 'GAYLE', '13', '3', '23'],
 ['14', 'Cold Heart (PNAU Remix)', 'Elton John & Dua Lipa', '15', '7', '34'],
 ['15', 'Thousand Miles', 'The Kid LAROI', '-', '15', '1'],
 ['16', 'Save Your Tears', 'The Weeknd & Ariana Grande', '18', '1', '69'],
 ['17', 'One Right Now', 'Post Malone & The Weeknd', '19', '6', '25'],
 ['18', 'Levitating', 'Dua Lipa', '21', '2', '77'],
 ['19', 'Need To Know', 'Doja Cat', '17', '8', '46'],
 ['20', 'MAMIII', 'Becky G X Karol G', '24', '15', '11'],
 ['21', 'Bam Bam', 'Camila Cabello Featuring Ed Sheeran', '25', '21', '8'],
 ['22', 'Industry Baby', 'Lil Nas X & Jack Harlow', '23', '1', '40'],
 ['23', "'Til You Can't", 'Cody Johnson', '22', '18', '29'],
 ['24', 'Easy On Me', 'Adele', '16', '1', '29'],
 ['25', 'In A Minute', 'Lil Baby', '20', '14', '3'],
 ['26', "Doin' This", 'Luke Combs', '30', '26', '20'],
 ['27', 'Wasted On You', 'Morgan Wallen', '31', '9', '24'],
 ['28', 'AA', 'Walker Hayes', '32', '28', '16'],
 ['29', 'Plan B', 'Megan Thee Stallion', '-', '29', '1'],
 ['30', 'Hrs And Hrs', 'Muni Long', '26', '16', '18'],
 ['31', 'Boyfriend', 'Dove Cameron', '37', '31', '11'],
 ['32', 'Sweetest Pie', 'Megan Thee Stallion & Dua Lipa', '34', '15', '7'],
 ['33', 'Trouble With A Heartbreak', 'Jason Aldean', '59', '33', '6'],
 ['34', 'Right On', 'Lil Baby', '28', '13', '3'],
 ['35', 'Good 4 U', 'Olivia Rodrigo', '33', '1', '50'],
 ['36', 'Provenza', 'Karol G', '-', '36', '1'],
 ['37', 'Numb Little Bug', 'Em Beihold', '40', '37', '13'],
 ['38', 'To The Moon!', 'JNR CHOI & Sam Tompkins', '38', '38', '9'],
 ['39', 'I Hate U', 'SZA', '36', '7', '21'],
 ['40',
  "We Don't Talk About Bruno",
  'Carolina Gaitan, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz & Encanto Cast',
  '27',
  '1',
  '18'],
 ['41', 'Never Say Never', 'Cole Swindell / Lainey Wilson', '29', '27', '15'],
 ['42', "Don't Think Jesus", 'Morgan Wallen', '7', '7', '2'],
 ['43', 'You Right', 'Doja Cat & The Weeknd', '39', '11', '43'],
 ['44', 'Fingers Crossed', 'Lauren Spencer-Smith', '35', '19', '17'],
 ['45', 'Fancy Like', 'Walker Hayes', '41', '3', '45'],
 ['46', 'Sand In My Boots', 'Morgan Wallen', '42', '30', '41'],
 ['47', "She's All I Wanna Be", 'Tate McRae', '47', '44', '12'],
 ['48', 'The Motto', 'Tiesto & Ava Max', '46', '42', '13'],
 ['49',
  'What Happened To Virgil',
  'Lil Durk Featuring Gunna',
  '43',
  '22',
  '7'],
 ['50', "When You're Gone", 'Shawn Mendes', '48', '38', '4'],
 ['51', '2step', 'Ed Sheeran Featuring Lil Baby', '-', '51', '1'],
 ['52', 'Beers On Me', 'Dierks Bentley, BRELAND & HARDY', '45', '40', '18'],
 ['53', 'Pushin P', 'Gunna & Future Featuring Young Thug', '44', '7', '16'],
 ['54', 'Freaky Deaky', 'Tyga X Doja Cat', '57', '43', '9'],
 ['55', 'Something In The Orange', 'Zach Bryan', '-', '55', '1'],
 ['56', 'Peru', 'Fireboy DML & Ed Sheeran', '54', '53', '13'],
 ['57', 'Hold That Heat', 'Southside, Travis Scott & Future', '-', '57', '1'],
 ['58', 'If I Was A Cowboy', 'Miranda Lambert', '53', '53', '13'],
 ['59',
  'Scrape It Off',
  'Pusha T Featuring Lil Uzi Vert & Don Toliver',
  '-',
  '59',
  '1'],
 ['60', 'About Damn Time', 'Lizzo', '50', '50', '2'],
 ['61', 'Tomorrow Me', 'Luke Combs', '-', '61', '1'],
 ['62', 'Slow Down Summer', 'Thomas Rhett', '64', '43', '10'],
 ['63',
  'Never Wanted To Be That Girl',
  'Carly Pearce & Ashley McBryde',
  '66',
  '63',
  '16'],
 ['64', 'Light Switch', 'Charlie Puth', '52', '27', '14'],
 ['65', '23', 'Sam Hunt', '58', '50', '18'],
 ['66', 'Me Or Sum', 'Nardo Wick, Lil Baby & Future', '67', '58', '16'],
 ['67',
  'Broadway Girls',
  'Lil Durk Featuring Morgan Wallen',
  '60',
  '14',
  '19'],
 ['68', 'Flowers', 'Lauren Spencer-Smith', '55', '55', '2'],
 ['69', 'No Love', 'Summer Walker & SZA', '62', '13', '17'],
 ['70', 'Flower Shops', 'ERNEST Featuring Morgan Wallen', '65', '64', '14'],
 ['71', 'Nail Tech', 'Jack Harlow', '56', '18', '10'],
 ['72', 'Give Heaven Some Hell', 'HARDY', '69', '69', '9'],
 ['73', 'Get Into It (Yuh)', 'Doja Cat', '73', '68', '21'],
 ['74', 'Take My Name', 'Parmalee', '75', '74', '4'],
 ['75', 'Surface Pressure', 'Jessica Darrow', '63', '8', '18'],
 ['76',
  'Neck & Wrist',
  'Pusha T Featuring JAY-Z & Pharrell Williams',
  '-',
  '76',
  '2'],
 ['77', 'Handsomer', 'Russ Featuring Ktlyn', '70', '40', '8'],
 ['78',
  'Rock N Roll',
  'Pusha T Featuring Kanye West & Kid Cudi',
  '-',
  '78',
  '1'],
 ['79', 'Ahhh Ha', 'Lil Durk', '68', '18', '10'],
 ['80', 'Do We Have A Problem?', 'Nicki Minaj X Lil Baby', '72', '2', '12'],
 ['81', 'Dreamin Of The Past', 'Pusha T Featuring Kanye West', '-', '81', '1'],
 ['82', 'Circles Around This Town', 'Maren Morris', '77', '52', '16'],
 ['83', 'Damn Strait', 'Scotty McCreery', '76', '76', '4'],
 ['84', 'Envolver', 'Anitta', '71', '70', '5'],
 ['85', 'Shake It', 'Kay Flock, Cardi B, Dougie B & Bory300', '51', '51', '2'],
 ['86', 'I Love You So', 'The Walters', '81', '71', '15'],
 ['87', 'Rumors', 'Gucci Mane Featuring Lil Durk', '74', '51', '13'],
 ['88', 'She Likes It', 'Russell Dickerson & Jake Scott', '89', '86', '6'],
 ['89', 'In My Head', 'Lil Tjay', '78', '33', '4'],
 ['90', 'Soy El Unico', 'Yahritza y Su Esencia', '80', '20', '5'],
 ['91', 'Leave You Alone', 'Kane Brown', '86', '86', '2'],
 ['92', 'Out Of Time', 'The Weeknd', '-', '32', '3'],
 ['93', 'Banking On Me', 'Gunna', '88', '61', '10'],
 ['94', 'Come Back As A Country Boy', 'Blake Shelton', '82', '81', '13'],
 ['95', 'Desesperados', 'Rauw Alejandro & Chencho Corleone', '91', '91', '4'],
 ['96', 'Bones', 'Imagine Dragons', '87', '87', '7'],
 ['97', 'Hate Our Love', 'Queen Naija & Big Sean', '94', '88', '3'],
 ['98', 'Over', 'Lucky Daye', '92', '77', '6'],
 ['99',
  'City Of Gods',
  'Fivio Foreign, Kanye West & Alicia Keys',
  '84',
  '46',
  '10'],
 ['100', 'Brambleton', 'Pusha T', '-', '100', '1']]

In [102]:
df = pd.DataFrame(data = lol, columns = ['No.', 'Song_Name', ' Artist', 'Last Week Rank', 'Peak Rank', 'Weeks on Board'])
df.set_index('No.', inplace = True)
df

,Song_Name,Artist,Last Week Rank,Peak Rank,Weeks on Board
No.,,,,,
1,As It Was,Harry Styles,1,1,4
2,First Class,Jack Harlow,2,1,3
3,Heat Waves,Glass Animals,3,1,67
4,Big Energy,Latto,4,3,27
5,Enemy,Imagine Dragons X JID,5,5,23
...,...,...,...,...,...
96,Bones,Imagine Dragons,87,87,7
97,Hate Our Love,Queen Naija & Big Sean,94,88,3
98,Over,Lucky Daye,92,77,6
99,City Of Gods,"Fivio Foreign, Kanye West & Alicia Keys",84,46,10
100,Brambleton,Pusha T,-,100,1

7.Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [51]:
#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\91845\chromedriver.exe') 

# Opening the naukari.com
url = "https://www.naukri.com/recruiters/browse-all-recruiters"
driver.get(url)
driver.maximize_window() #Maximize the Window.

In [52]:
#accesing search bar
#accesing search bar
search=driver.find_element_by_class_name("sugInp")
search
search.send_keys("Data Science")
button=driver.find_element_by_id("qsbFormBtn")
button.click()

In [53]:
name = []
# Extracting Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    name.append(i.text)
name[:5]

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel']

In [54]:
designation = []  
# Extracting Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    designation.append(i.text)
designation[:5]

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO']

In [55]:
company = []
# Extracting Company names
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    company.append(i.text)
company[:5]

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject']

In [56]:
skills = []
# Extracting  Skills
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        skills.append(i.text)
    except NoSuchElementException:
        skills.append('-')
skills[:5]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL']

In [57]:
location = []
# Extracting Locations
for i in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
    location.append(i.text)
location[:5]

['Delhi', 'Hyderabad / Secunderabad', 'Pune', 'Ahmedabad', 'UK - (london)']

In [58]:
# Dataframe
col = list(zip(name, designation, company, skills, location))
df = pd.DataFrame(col, columns = ["Name", "Designation", "Company Name", "Skills", "Location"])
df

,Name,Designation,Company Name,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Hyderabad / Secunderabad
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Ghaziabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad

8.Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [36]:
#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\91845\chromedriver.exe') 

# Opening the the guardian.com
url = " https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [40]:
#Scrapping the data for storing the book name

book=[] #Creating empty lists for storing the scrapped data

try:
    Book=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in Book:
            book.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)
    
#Scrapping the data for storing the author name
author=[]   #Creating empty lists for storing the scrapped data

try:
    Author=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in Author:
            author.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)


#Scrapping the data for storing the volumes sold details
volume=[] #Creating empty lists for storing the scrapped data

try:
    Volume=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in Volume:
        volume.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)    

#Scrapping the data for storing publisher details
publisher=[] #Creating empty lists for storing the scrapped data

try:
    Publisher=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in Publisher:
        publisher.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)   

    
#Scrapping the data for storing genre details
genre=[] #Creating empty lists for storing the scrapped data

try:
    Genre=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in Genre:
        genre.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)

In [41]:
#Creating a dataframe for the scrapped data
df=pd.DataFrame()
df['Book']=book
df['Author']=author
df['Volumes sold']=volume
df['Publisher']=publisher
df['Genre']=genre
df

,Book,Author,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9.Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [83]:
#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\91845\chromedriver.exe') 

# Opening the the imdb.com
url = " https://www.imdb.com/list/ls095964455/ "
driver.get(url)

In [84]:
#Scrapping the data for storing the series name
Name=[] #Creating empty lists for storing data
try:
    name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)
    
    
#Scrapping the data having the year span details
Year=[] #Creating empty lists for storing data
try:
    year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
    for i in year:
        Year.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)    
    
#Scrapping the data having the genre details
Genre=[] #creating empty list for storing data
try:
    genre=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)       
    
#Scrapping the data having the runtime details
runtime=[]#creating empty list for storing data
try:
    runtime=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in runtime:
        Runtime.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)       
    
#Scrapping the data having rating details
rating=[]#creating empty list
try:
    rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
    for i in rating:
        Rating.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)       
    
#Scrapping the data having the votes details
Vote=[]
try:
    votes=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in votes:
        Vote.append(i.text)
except NoSuchElementException:  #handling no such element exception
    book_name.append('No details available')
time.sleep(2)

In [85]:
len(Name),len(Year),len(Genre),len(Runtime),len(Rating),len(Vote)

(100, 100, 100, 400, 400, 100)

In [86]:
#Creating a dataframe for the scrapped data
df=pd.DataFrame({'Name':Name,'Year span':Year,'Genre':Genre,'Runtime':Runtime[:100],'Rating':Rating[:100],'Votes':Vote})
df

,Name,Year span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,980,135"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"985,853"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"943,771"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"281,935"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"241,856"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,525"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,162"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"188,737"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,004"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"226,230"

10.Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [91]:
#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\91845\chromedriver.exe') 

# Opening the the imdb.com
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [92]:
#Clicking on view all datasets link
datasets=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [93]:
#Scrapping the data having dataset name
name=[]  #creating empty list for storing data
try:
    Names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in Names:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
    
#Scrapping the data having data type
data_types=[] #creating empty list for storing data
try:
    Types=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in Types[1:]:
        data_types.append(i.text)
except NoSuchElementException:
    data_types.append('No details available')
    
#Scrapping the data having task
task=[] #creating empty list for stoing data
try:
    Task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in Task[1:]:
        task.append(i.text)
except NoSuchElementException:
    task.append('No details available')
 

#Scrapping the data having attribute
attribute=[]
year=[]
try: 
    Attribute=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in Attribute[1:]:
        attribute.append(i.text)
except NoSuchElementException:
    attribute.append('No details available')
        
#Scrapping the data having no of instances
no_of_Instance=[] #creating empty list for stoing data
try:
    Instance=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in Instance[1:]:
        no_of_Instance.append(i.text)
except NoSuchElementException:
    no_of_Instance.append('No details available')
        
#Scrapping the data having no of attributes
no_of_Attribute=[] #creating empty list for storing data
try:
    Attribute_no=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in Attribute_no[1:]:
        no_of_Attribute.append(i.text)
except NoSuchElementException:
    no_of_Attribute.append('No details available')
        
#Scrapping the data having the year details
year=[] #creating empty list for stoing data
try:
    Year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in Year[1:]:
        year.append(i.text)
except NoSuchElementException:
    year.append('No details available')

In [94]:
#Creating the dataframe
df=pd.DataFrame({"Name":name,"Data types":data_types,"Default Task":task,"Attribute types":attribute, 
                 "No of instances":no_of_Instance,"No of atrributes":no_of_Attribute,"Year":year})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021